@charset "UTF-8";

html {
  font-size: 100%;
  background-color: whitesmoke;
}

body{
  font-size: 1rem;
  margin: 0px;
  -webkit-text-size-adjust: 100%;
}

ul{
  list-style: none;
}

.container{
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
  text-align: center;
}

h2{
  font-size: 1.7rem;
}

h3{
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 1rem;
}

.mainvisual img {
  width: 100%;
  max-width: 1900px;
  height: 400px;
  object-fit: cover;
  opacity: 90%;
  margin-top: 90px;
}

span{
  color: rgb(244, 27, 27);
  font-weight: bold;
}

/* ヘッダ */
#header{
  width: 100%;
  position: fixed;
  z-index: 90;
  background-color: whitesmoke;
  padding: 0 auto 0 auto;
}

#header h1 a{
  color: rgb(23, 23, 23);
  margin-left: 8%;
  font-size: 2rem;
}

#headernav{
  background-color: rgb(23, 23, 23);
  padding-left: 8%;
}

#header ul{
  display: flex;
}

#header li{
  padding-right: 5%;
  transition: 0.5s;
}
    
#header li:hover {
  opacity: 70%;
}

#nav{
  display: none;
}


h2{
  background-color: rgb(23, 23, 23);
  color: antiquewhite;
  margin-bottom: 40px;
}



/* アバウト */
#about{
  margin-top: 100px;
  padding-bottom: 100px;
}

#about img{
  height: 220px;
  width: 220px;
  border-radius: 50%;
  float: left;
  display: block;
  margin-top: 10px;
  margin-right: 50px;
}

#about p{
  text-align: left;
  margin-top: 60px;
}

/* ワーク */


#work li{
  font-weight: bold;

}

.workbox h3{
  margin-bottom: 20px;
}
.workbox{
  margin: 50px auto 50px auto;
}

#work .video{
  margin-top: 50px;
}



/* ラジオ */

#radio{
  margin-bottom: 50px;
}
#radio img{
  border-radius: 30%;
  padding-bottom: 20px;
  width: 40%;
}
.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: rgb(244, 27, 27);
  border: solid 2px rgb(244, 27, 27);
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background:rgb(244, 27, 27);
  color: white;
}


/* バスリスト */
#fishing p{
  margin-bottom: 50px;
}

#fishing ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}


#fishing img{
  width: 350px;
  border-radius: 20%;
}



/* フッター */

.snsicon li{
  display: inline-block;
  padding: 10px;
  transition: 0.5s;
}

.snsicon li:hover{
  opacity: 70%;
}

.snsicon li img{
  width: 80px;
}

.snsicon li a{
  color: rgb(23, 23, 23);
  font-weight: bold;
}


footer p{
  text-align: center;
  margin: 100px auto 100px auto;
  font-weight: lighter;
}


/* レスポンシブ */
@media (max-width: 600px){
  body{
    text-align: center;
    max-width: 100%;
  }


  /* ヘッダー */
  #header{
    height: 69px;
    border-bottom:solid 5px rgb(23, 23, 23);
  }

  #header h1 a{
    font-size: 1.2rem;
    margin: 0;
  }

  #headernav ul{
    display: none;
  }

  #title-logo h1{
    margin-bottom: 30px;
  }

  .menu-btn {
    position: fixed;
    top: 5px;
    right: 10px;
    display: flex;
    height: 55px;
    width: 55px;
    justify-content: center;
    align-items: center;
    z-index: 95;
    background-color: rgb(23, 23, 23);
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

#menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: rgb(23, 23, 23);
}
#menu-content ul {
  padding: 70px 10px 0;
}
#menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
#menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 0.65rem;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 10% 30% 20% 0;
  position: relative;
}


#menu-content {
  width: 100%;
  height: 70%;
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: rgb(23, 23, 23);
  transition: all 0.3s;/*アニメーション設定*/
  opacity: 95%;
}

#menu-btn-check:checked ~ #menu-content {
  left: 0;/*メニューを画面内へ*/
}

  
  /* メインヴィジュアル */
  .mainvisual{
    width: 100%;
  }

  .mainvisual img{
    margin-top: 69px;
  }
  /* アバウト */
#about img{
  width: 100%;
  height: 100%;
  }
  /* ワーク */
  #work iframe{
    width: 100%;
  }
  /* ラジオ */
  #radio img{
    width: 70%;
  }

  /* バスリスト */
  #fishing h2 p ul{
    max-width: 100%;
  }

  #fishing li img{
    width: 100%;
  }
  /* フッター */
  .snsicon li{
    display: inline-block;
  }
  .snsicon li img{
    width: 30%;
  }
}

@media (min-width:601px){
  #menu-content{
    display: none;
  }

  #menu-btn-check {
    display: none;
  }
}
